<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>My Subscription Wallet</span>

        <span class="example-spacer"></span>

        <button mat-button>About</button>
    </mat-toolbar-row>
</mat-toolbar>





<mat-card *ngIf="answerDisplay">
    <h1>{{ answerDisplay }}, you're damn right.</h1>
</mat-card>

<p></p>

<div *ngIf="!_waiting">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Your Metamask Account: {{ account }}</mat-card-title>
            <mat-card-subtitle>Your Metamask Balance: {{ balance }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                <b>Subscription Wallet Balance:</b>{{walletBalance}}<br>
                <b>Subscription Wallet Address:</b>{{walletAddress}}<br>
            </p>
            <br>
            <b>Top Up:</b>
            <p>
                <mat-form-field>
                    <input type="number" matInput [(ngModel)]="topUpAmount" placeholder="How much do you want to top up?">
                </mat-form-field>

                <br>

                <button color="primary" mat-raised-button (click)="pay()">Pay</button>
            </p>
            <b>withdraw:</b>
            <p>
                <mat-form-field>
                    <input type="number" matInput [(ngModel)]="withdrawAmount" placeholder="How much do you want to withdraw?">
                </mat-form-field>

                <br>

                <button color="primary" mat-raised-button (click)="withdraw()">Withdraw</button>
            </p>
        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="_waiting">
    <mat-card>
        <mat-card-content class="halign">
            <b>Waiting for Blockchain to confirm</b>
            <mat-spinner></mat-spinner>
        </mat-card-content>
    </mat-card>
</div>


<div *ngFor="let isu of issuers">
    <app-sub-card [issuer]="isu">
    </app-sub-card>
</div>