<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Smart Wallet</span><small style="font-size:10px"><br>by ambr</small>
    </mat-toolbar-row>
</mat-toolbar>
<br>

<div class="container">
    <div class="row">
        <div class="col-5">
            <app-wallet></app-wallet>
        </div>
        <div class="col-7">
            <app-activity></app-activity>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-sub-list></app-sub-list>
        </div>
    </div>
</div>