/* You can add global styles to this file, and also import other style files */

//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    margin: 0;
    height: 100%;
}

.BoxShaow {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    margin: 10px;
    vertical-align: top;
}